body {
  text-align: center;
  margin: 0;
  font-family: 'Merriweather', serif;
  line-height: 2;
  background-color: #fde8cd;
}
h1 {
  margin-top: 0;
  font-family: 'Sacramento', cursive;
  font-size: 450%;
  color: #a20a0a;
}
h2 {
  font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    color: #a20a0a;
    margin-top: 0
}
h3 {
  font-family: 'Montserrat', sans-serif;
  color: #bb2205;
}
#webdev {
  font-family: 'Josefin Sans', sans-serif;
  line-height: 2;
  font-weight: lighter;
  color: #a20a0a;
  font-size: 1.7rem;
}
a{
color: #a20a0a;
  display: inline-block;
  padding: 0 15px 0 15px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bolder;
  text-decoration: none;

}
a:hover {
  color: #fde8cd;
}
hr {
  border-style: dotted none none none;
  border-color: #ffa36c;
  border-width: 5px;
  width: 4%;
  height: 0;
  margin-top: 8%;
  margin-bottom: 6%;
}
.top-container {
  background-color: #fde8cd;
  position: relative;
  padding-top: 100px;
  padding-bottom: 20px;
}
.middle-container {
  background-color: #fde8cd;
  padding-bottom: 0.7rem;
}
.bottom-container {
  background-color: #ffa36c;
  padding: 30px 0 5px;

}
.profile {
  width: 45%;
  margin:  0 auto 100px auto;
}
.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}
.contact-me {
  width: 45%;
  margin: 100px auto 100px auto;
}
.paint-palette {
  float: left;
  margin-right: 30px;
}
.development {
  float: right;
  margin-left: 30px;
}
.my-photo {
  float: left;
}
.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}
.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 500px;
}
.about-me {
  margin-top: 70px;
}


.btn {
   background: #850000;
   background-image: -webkit-linear-gradient(top, #850000, #A20A0A);
   background-image: -moz-linear-gradient(top, #850000, #A20A0A);
   background-image: -ms-linear-gradient(top, #850000, #A20A0A);
   background-image: -o-linear-gradient(top, #850000, #A20A0A);
   background-image: -webkit-gradient(to bottom, #850000, #A20A0A);
   -webkit-border-radius: 7px;
   -moz-border-radius: 7px;
   border-radius: 7px;
   color: #FFFFFF;
   font-family: 'Montserrat', sans-serif;
   font-size: 16px;
   font-weight: 700;
   padding: 3px 10px 1px 10px;
   text-shadow: 1px 1px 20px #000000;
   border: solid #340000 0;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
   margin-top: 2.8rem;
}

.btn:hover {
   border: solid #799351 0;
   background: #799351;
   background-image: -webkit-linear-gradient(top, #799351, #799351);
   background-image: -moz-linear-gradient(top, #799351, #799351);
   background-image: -ms-linear-gradient(top, #799351, #799351);
   background-image: -o-linear-gradient(top, #799351, #799351);
   background-image: -webkit-gradient(to bottom, #799351, #799351);
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   text-decoration: none;
}
.copyright {
  font-size: 0.8rem;
  color: #fde8cd;
  padding-top: 1.1rem;
}
